.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}


.fighter-preview___right,
.fighter-preview___left {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: 5px solid red;
}

.fighter-preview___head {
  align-self: center;
}

.fighter-preview___name {
  color: red;
  font-size: 2rem;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.fighter-preview___body {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.fighter-preview___right .fighter-preview___body {
  flex-direction: row-reverse;
}

.fighter-preview___img {
  height: 150px;
  margin: 10px;
  width: auto;
}

.fighter-preview___text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.fighter-preview___item {
  margin-top: 10px;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}